/****************************************
 * Author:   Andreas Kruhlmann
 * Date:     AUG 8 2019
 * File:     _typography.scss
 * Overview: Font imports and global typography settings.
 */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"),
         local("Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
}